<!DOCTYPE html>
<html>
<head>
    <title>Robot WebGui</title>
    
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    
     
    <script>
    function myIp() {
      var ip = location.host;
      //alert(ip);
      document.getElementById("myIp").innerHTML = ip;
      document.getElementById("raspIp").innerHTML = "192.168.1.5";
    }
  </script>
 
    <script>connect()</script>
    
    
</head>
<body onload="myIp()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
  <h1>Basicrobot GUI via socket.io</h1>
 
 <!-- NOT VERY USEFUL HERE: see robotGuiPost.html  -->
 <h4>Input view</h4>
 	<span style="color:blue" th:text="${arg}">Our App</span>
 
 
 <hr/> 
  	<table style="width:50%">
	<tbody>
   	<tr>
 	<td>
		<form class="form-inline"><button id="w" class="btn btn-default" type="submit">w</button></form>
	</td>
 	<td>
		<form class="form-inline"><button id="s" class="btn btn-default" type="submit">s</button></form>
	</td>
	</tr>

   	<tr>
 	<td>
		<form class="form-inline"><button id="r" class="btn btn-default" type="submit">r</button></form>
	</td>
 	<td>
		<form class="form-inline"><button id="l" class="btn btn-default" type="submit">l</button></form>
	</td>
	</tr>

   	<tr>
 	<td>
		<form class="form-inline"><button id="x" class="btn btn-default" type="submit">x</button></form>
	</td>
 	<td>
		<form class="form-inline"><button id="z" class="btn btn-default" type="submit">z</button></form>
	</td>
	</tr>

    	<tr>
 	<td>
		<form class="form-inline"><button id="p" class="btn btn-default" type="submit">p</button></form>
	</td>
 	<td>
		<form class="form-inline"><button id="h" class="btn btn-default" type="submit">h</button></form>
	</td>
	</tr>
 	
   	</tbody>
  	</table>  
 
 	
   
 <h3>Resource state</h3>
   
     <p id="applmsgs">...</p>
    
    <form class="form-inline"><button id="update" class="btn btn-default" type="submit">show resource	</button></form>
<hr/>     

<h3>Web cam on Rasp</h3>
	<div id="content" align="left" color="yellow">		 
		<img src=""  id="img_src" alt=""  width="320" height="240"><br/> 
	</div>

	<script type="text/javascript">
		 var url = "192.168.1.5:8090" //window.location.host;   //TO BE CHANGED: FOR WEB CAM
 	     var len = url.length;
	     var n   = url.indexOf(":");
	     var j   = url.substring(n+1,len);
	     //var ip  = url.replace(j,'8899');	 
		 //ip = "http://" + ip + "/?action=stream";
		 
		 //var ip  = url.replace(j,'8090');	//"192.168.1.8:8090" 
		 var ip = "http://" + url + "/?action=stream";
		 //document.getElementById("ipaddr").innerHTML  = ip;
		 //alert("ip="+ip);	 
	     document.getElementById("img_src").src = ip;	
	</script>

<hr/> 
 
    <!--
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Resource state history</th>
                </tr>
                </thead>
                <tbody id="applmsgintable">
                </tbody>
            </table>
        </div>
    </div>
    -->
    
 <h1>About myself</h1>
 <p>
 	I am the WebGui of a front-end server for an application that should be already running.
 </p><p>	
  	For example, you could activate the <tt>basicrobot</tt> (port <tt>8020</tt>) or some other application,
  	like that in  project    <i>it.unibo.qak20.domains</i>.
 	<!-- <tt>bash /home/pi/nat/basicrobotInit.sh</tt> in <tt>nat</tt> --> 
 	</div>
 	
 	<center><img src="robotWebTuesday26.png" alt="robotWebTuesday26.png" width="80%" ></center><br/> 
 
 
 	<div id="ipaddr" align="left">
 	<p>
 	My server works on <span id="myIp"></span> and  I'm connected to it via <tt>socket.io</tt>.<br/>
 		The Rasp could be in its turn connected with a (virtual) robot-device working on the PC. 	
 	
	</p><p>
	
	
 <h2>Application-related configuration</h2>
 	My configuration in file <b><tt>pageConfig.json</tt></b>  the <tt>basicrobot</tt> is:
 	<pre>
 {"page":"robotGuiSocket", "host":"192.168.1.22", "port":"8020", 
   "qakdest":"basicrobot", "ctxqadest":"ctxbasicrobot", "stepsize":"350"} </pre>
or, for the project    <i>it.unibo.qak20.domains</i>:
 <pre>{"page":"robotGuiSocket", "host":"192.168.1.22", "port":"8060", 
   "qakdest":"waiter", "ctxqadest":"ctxdomains", "stepsize":"350"} </pre>
 	</p><p>

 <h2>My work</h2>	
 	My requests are handled by the <tt>RobotController.java</tt> that is connected via CoAP with  
 	the application-resource working on the PC or on a RaspberryPI (ip=<span id="raspIp"></span>).
	</p><p>
	I'm able to show in 'real time' the current state of the working application in the <tt>Resource State</tt> area 
	since the server sets (thanks to <i>Eugenio Cerulo</i>):
	<pre>@Autowired
    	<b>SimpMessagingTemplate</b> simpMessagingTemplate;</pre>
	
	</p><p>
	When the main page is loaded, the <tt>RobotController</tt> calls following operation, 
	in order to 'observe' the application resource by means of CoAP and update the web-page via <tt>socket.io</tt>:	
<pre>private void peparePageUpdating() {
  connQakSupport.getClient().observe(new CoapHandler() {
    @Override
    public void onLoad(CoapResponse response) {
      <b>simpMessagingTemplate.convertAndSend</b>(WebSocketConfig.topicForClient, 
        new ResourceRep("" + HtmlUtils.htmlEscape(response.getResponseText()) ));
    }
    @Override
    public void onError() { System.out.println("RobotController --> CoapClient error!"); }
  });
}</pre>
</p>
 <h2>The CoAP configuration</h2>	
 
 <p>My server performs the connection via CoAP with the application when the <tt>RobotController</tt> is created,
 by looking at the information stored in the file <tt>connQak/configurator.kt</tt>
 <pre>//Basicrobot application
@JvmStatic var hostAddr    = "localhost";  //"192.168.1.5";		
@JvmStatic var port        = "8020";
@JvmStatic var qakdest     = "basicrobot";
@JvmStatic var ctxqadest   = "ctxbasicrobot";</pre>
  	</p>
 	
  	<p>
 	More details are reported in: 
 	<a href="http://htmlpreview.github.com/?https://github.com/anatali/iss2020LabBo/blob/master/robotWeb2020/userdocs/RobotWebonSpring.html" target="lab">
 	RobotWeb | A user-interface based on SpringBoot for robot-control</a>
 	</p>
 	
    
</div>



</body>
</html>
