<!DOCTYPE html>
<html>
<head>
    <title>Robot WebGui</title>
    
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    
    <script>connect()</script>
    
    <script>
    function myIp() {
      var ip = location.host;
      document.getElementById("myIp").innerHTML = ip;
      document.getElementById("raspIp").innerHTML = "192.168.1.5";
    }
  </script>
    
    
</head>
<body onload="myIp()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
  <h1>Basicrobot GUI via socket.io</h1>
 
 <!-- NOT VERY USEFUL HERE: see robotGuiPost.html  -->
 <h4>Input view</h4>
 	<span style="color:blue" th:text="${arg}">Our App</span>
 
 
 <hr/> 
  	<table style="width:50%">
	<tbody>
   	<tr>
 	<td>
		<form class="form-inline"><button id="w" class="btn btn-default" type="submit">w</button></form>
	</td>
 	<td>
		<form class="form-inline"><button id="s" class="btn btn-default" type="submit">s</button></form>
	</td>
	</tr>

   	<tr>
 	<td>
		<form class="form-inline"><button id="r" class="btn btn-default" type="submit">r</button></form>
	</td>
 	<td>
		<form class="form-inline"><button id="l" class="btn btn-default" type="submit">l</button></form>
	</td>
	</tr>

   	<tr>
 	<td>
		<form class="form-inline"><button id="x" class="btn btn-default" type="submit">x</button></form>
	</td>
 	<td>
		<form class="form-inline"><button id="z" class="btn btn-default" type="submit">z</button></form>
	</td>
	</tr>

    	<tr>
 	<td>
		<form class="form-inline"><button id="p" class="btn btn-default" type="submit">p</button></form>
	</td>
 	<td>
		<form class="form-inline"><button id="h" class="btn btn-default" type="submit">h</button></form>
	</td>
	</tr>
 	
   	</tbody>
  	</table>  
 
 	
   
 <h3>Resource state</h3>
   
     <p id="applmsgs">...</p>
    
    <form class="form-inline"><button id="update" class="btn btn-default" type="submit">show resource	</button></form>
<hr/>     

<h3>Web cam on Rasp</h3>
	<div id="content" align="left" color="yellow">		 
		<img src=""  id="img_src" alt=""  width="320" height="240"><br/> 
	</div>

	<script type="text/javascript">
		 var url = "192.168.1.5:8090" //window.location.host;
	     var len = url.length;
	     var n   = url.indexOf(":");
	     var j   = url.substring(n+1,len);
	     //var ip  = url.replace(j,'8899');	 
		 //ip = "http://" + ip + "/?action=stream";
		 
		 //var ip  = url.replace(j,'8090');	//"192.168.1.8:8090" 
		 var ip = "http://" + url + "/?action=stream";
		 //document.getElementById("ipaddr").innerHTML  = ip;
		 //alert("ip="+ip);	 
	     document.getElementById("img_src").src = ip;	
	</script>

<hr/> 
 
    <!--
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Resource state history</th>
                </tr>
                </thead>
                <tbody id="applmsgintable">
                </tbody>
            </table>
        </div>
    </div>
    -->
    
 	<div id="ipaddr" align="left">
 	<p>
 	I am the WebGui of a front-end server that works on <span id="myIp"></span>.<br/>
 	I am connected to the server via <tt>socket.io</tt>.<br/>
 	My requests are handled by the <tt>RobotController.java</tt> that is connected via CoAP with  
 	a robot-resource working on a RaspberryPI (ip=<span id="raspIp"></span>).<br/>
 	The Rasp is in its turn connected with a (virtual) robot-device working on ip="192.168.1.22" 	
 	</p>
 	
 	Please activate the basicrobot (port <tt>8020</tt>) or some other robot ... 
 	<!-- <tt>bash /home/pi/nat/basicrobotInit.sh</tt> in <tt>nat</tt> --> 
 	</div>
 	
 	<center><img src="robotWebTuesday26.png" alt="robotWebTuesday26.png" width="80%" ></center><br/> 
    
</div>
</body>
</html>
