<!DOCTYPE html>
<html>

<head>
    <title>WebfluxintroGui</title>   
    <link href="/disi.css" rel="stylesheet">
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div id="main-content" class="container">
<div class="row">
    
  <h1>Webfluxbasic GUI</h1>
 
  	<p>
 	Welcome!. The pages says: <em><span span th:text="${applLogo}">...</span></em>.<br/> 	
	</p>
 	
<h2>...</h2>   
 

<hr/>     
 
 
 
 
</div>



</body>
</html>
