<!DOCTYPE html>
<html>

<head>
    <title>WebfluxintroGui</title>   
    <link href="/disi.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body onload=myIpAndConnect() >
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div id="main-content" class="container">
<div class="row">
    
  <h1>Webfluxintro GUI</h1>
 
  	<p>
 	The server works on <em><span id="myIp"></span></em> using WebFlux and <tt>socket.io</tt>.<br/> 	
	</p>
<h4>Message area</h4>	
	    <span th:text="${show}"></span><p id="applmsgs">...</p>
	
<h3>Show Resource request</h3>   
    <form class="form-inline"><button id="showresource" class="btn btn-default" type="submit">show resource</button> 
    (see <a href="explainShowresource.html#reqshowres" target="explain">explain showresource request</a>)</form>
    
    



<h3>Resource start an autonomous update</h3>
    <form class="form-inline"><button id="resourceupdating" class="btn btn-default" type="submit">start resource updating</button> 
    (see <a href="explainShowresource.html#startresupdating" target="explain">explain start resource updating</a>)</form>

<h3>Resource start an update flux-based</h3>
    <form class="form-inline"><button id="resourceflux" class="btn btn-default" type="submit">start resource flux</button> 
    (see <a href="explainShowresource.html#resourceflux" target="explain">explain start resource flux-based</a>)</form>
<hr/>     
 
 
 
 
</div>



</body>
</html>
